*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    width: 65%;
    margin: auto;
    border-bottom: 5px solid #333;
    padding: 4px;
}

header .data{
    width: 55%;
    text-align: right;
}

header .logo{
    width: 45%;
}
header .data h1{
    font-weight: lighter;
    font-size: 30px;
    font-family: inherit;
    text-transform: uppercase;
    color: #555;
    padding: 5% 0% 2% 0%;
}
header .data p{
    font-weight: bold;
    font-size: 18px;
    font-family: inherit;
    text-transform: uppercase;
    color: #555;
}
#view-color {   
    display: flex;
}
#view-color .color{
    width: 20%;
    position: absolute;
    margin: 0 5%;
}
#view-color .color span{
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 40px;
    position: relative;
}
#view-color .color #col1{
    background-color: #f52525;
}
#view-color .color #col1:after{
    content: "#f52525";
    position: relative;
    top: 76px;
    left: 8px;
}
#view-color .color #col2{
    background-color: #19560a;
}
#view-color .color #col2:after{
    content: "#19560a";
    position: relative;
    top: 76px;
    left: 8px;
}
#view-color .color #col3{
    background-color:#07a0a0;
}
#view-color .color #col3:after{
    content: "#07a0a0";
    position: relative;
    top: 76px;
    left: 8px;
}
#view-color .imge{
    width: 65%;
    margin: auto;
    padding: 2% 0;
}
#view-color .imge img{
    width: 100%;
}
#feature-work{
    width: 65%;
    margin: auto;
    
}
#feature-work h1{
     color: #a0a0a0;
    font-size: 25px;
    margin-bottom: 5px;
}
#feature-work .works{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#feature-work .works div{
    width: 31%;
    margin-right: 2.333%;
    text-align: center;
}
#feature-work .works div img{
    width: 100%;
}
@media screen and (max-width:540px){
    
 header .data{
    width: 60%;
    text-align: right;
}
header .logo{
    width: 40%;
}
header .data h1{
    font-size: 20px;
}
header .data p{
    font-size: 15px;
}
}
@media screen and (max-width:460px){
    header{
        flex-wrap: wrap;
    }
    header .logo{
        width: 100%;
    }
    header .data{
        width: 100%;
        text-align: left;
    }
}
@media screen and (max-width:740px){
    
    #view-color .color span{
        width: 40px;
        height: 40px;
    }
    #view-color .color #col1:after{
        top: 47px;
        left: 0px;
        font-size: 13px;
    }
    #view-color .color #col2:after{
        top: 47px;
        left: 0px;
        font-size: 13px;
    }
    #view-color .color #col3:after{
        top: 47px;
        left: 0px;
        font-size: 13px;
    }
}

@media screen and (max-width:425px){
    
    #view-color .color span{
        width: 25px;
        height: 25px;
    }
    #view-color .color #col1:after{
        top: 25px;
        left: 0px;
        font-size: 9px;
    }
    #view-color .color #col2:after{
        top: 25px;
        left: 0px;
        font-size: 9px;
    }
    #view-color .color #col3:after{
        top: 25px;
        left: 0px;
        font-size: 9px;
    }
}
@media screen and (max-width:820px){
    
    #feature-work .works div{
    width: 47.5%;
    margin-right: 2.5%;
}
}
@media screen and (max-width:560px){
    
    #feature-work .works div{
    width: 100%;
}
}